.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background: white;
  padding: 25px 40px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Verdana', sans-serif;
}

.form-control {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
  }

  input,
  .react-datepicker-wrapper {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
  }

  input:focus,
  .react-datepicker-wrapper:focus {
    border-color: #555;
    outline: none;
  }

  input,
  .react-datepicker {
    width: -webkit-fill-available;
  }

  .date-picker-input {
    border: none;
    box-shadow: none;
    height: 2px !important;
  }

  .input {
    font-size: 15px;
  }

  .input-error {
    border: none;
    box-shadow: inset 0 0 0 1px #c04c4c;
  }

}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  color: #0a427d;
  box-shadow: inset 0 0 0 2px #0a427d;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;

  &:hover {
    background-color: #0056b3;
    color: white;
    box-shadow: inset 0 0 0 2px #013f80;
  }
}

.date-picker-container {
  width: 95%;
}

.error-messages {
  color: #b23838;
  margin-top: 5px;
  font-size: 12px;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button-group>div>.button {
  margin-left: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  color: #ab1212;
  box-shadow: inset 0 0 0 2px #ab1212;
  font-size: 16px;
}

.btn-delete:hover {
  background-color: #690404;
  box-shadow: inset 0 0 0 2px rgb(66, 2, 2);
  color: white;
}